* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}